# Build results
bin/
obj/

# Visual Studio files
.vs/

# Test output
TestResults/

# User-specific files
*.user
*.suo

# Logs and temp
*.log
*.tmp

# NuGet packages
*.nupkg
*.snupkg
packages/

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.dbmdl
*.pfx
*.publishsettings
